html {
  scroll-behavior: smooth;
  color: black;
}
h1 {
  color: black;
  padding-top: 2rem;
}
h3 {
  color: black;
  padding-top: 1rem;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(191, 215, 225);
  padding-top: 1rem;
  color: white;
  text-align: center;
}

.home-image img{
  background-color: rgb(191, 215, 225);
  border-radius: 30%;
  margin-bottom: 20px;
}


table {
  border-collapse: collapse;
  width: 90%;
}

th, td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}



tr:nth-child(even) {
  background-color: rgb(201, 234, 234, 0.4);
}

tr:hover {
  background-color:rgba(166, 167, 168, 0.5);
}

td {
  text-align: left;
  color: #333;
}

.table-container {
  width: 80%;
  margin: auto;
}


.scrape-button {
  margin-top: 2rem;
  padding-top: 2rem;
  width: 50%;
  padding: 1vh;
  margin: auto;
  cursor: pointer;
  border-radius: .6rem;
}
